{:paths ["src/clj"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.3"}
         org.clojure/clojurescript {:mvn/version "1.10.844"}

         nrepl/nrepl {:mvn/version "0.9.0-beta5"}

         ;; logging
         org.clojure/tools.logging {:mvn/version "1.1.0"}
         org.slf4j/slf4j-log4j12   {:mvn/version "1.7.7"}

         ;; http
         clj-http/clj-http              {:mvn/version "3.12.3"}
         ring/ring-core                 {:mvn/version "1.9.5"}
         ring/ring-devel                {:mvn/version "1.9.5"}
         ring/ring-defaults             {:mvn/version "0.3.3"}
         buddy/buddy-auth               {:mvn/version "2.1.0"}
         metosin/reitit                 {:mvn/version "0.5.18"}
         metosin/muuntaja               {:mvn/version "0.6.8"}
         info.sunng/ring-jetty9-adapter {:mvn/version "0.14.3"}

         ;; scheduling
         clojurewerkz/quartzite {:mvn/version "2.1.0"}

         ;; json parsing
         cheshire/cheshire {:mvn/version "5.10.2"}

         ;; client websockets
         stylefruits/gniazdo {:mvn/version "1.1.4"}}
 :aliases {:dev {:extra-paths ["src/dev"]}}}
